.TambolaBoardCoin {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 28px;
    color: black;
    box-sizing: border-box;
    box-shadow: -5px 3px rgb(156, 85, 78);
    text-shadow: -2px 1px rgb(56, 56, 56);
    border: 2px solid salmon;
    background-color: salmon;
    border-radius: 50%;
    width: 70%;
    height: 80%;
    padding: 1%;
    z-index: 5;
}

@media (min-width: 500px) {
    .TambolaBoardCoin {
        font-size: 32px;
        box-shadow: -6px 4px rgb(156, 85, 78);
        width: 80%;
    }
}