.TambolaGameManager {
    text-align: center;
    width: 96%;
    margin: auto;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    font-family: inherit;
}

.GameControls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: inherit;
}

.CoinPublisher {
    position: absolute;
    top: 200px;
    left: 55px;
    font-family: inherit;
}

@media (min-width: 500px) {
    .CoinPublisher {
        top: 80px;
        left: 200px;
    }
}

@media (min-width: 800px) {
    .CoinPublisher {
        top: 80px;
        left: 430px;
    }
}